{{>menu}}
<section class="layout">
  <div class="top">
    <i class="uil uil-bars sidebar-toggle"></i>
    <div hidden class="search-box">
      <i class="uil uil-search"></i>
      <input type="text" placeholder="Search Here..." />
    </div>
    <img hidden src="images/user.png" alt="" />
  </div>
  <div class="dash-content">
    <div class="container_error">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="error-template">
            <h1>Ops!</h1>
            <h2>404 Not Found</h2>
            <div class="error-details">
              Desculpe, ocorreu um erro, a página solicitada não foi encontrada!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>