{{>menu}}
<section class="layout">
  <div class="top">
    <i class="uil uil-bars sidebar-toggle"></i>
    <div hidden class="search-box">
      <i class="uil uil-search"></i>
      <input type="text" placeholder="Search Here..." />
    </div>
    <img hidden src="images/user.png" alt="" />
  </div>
  <div class="dash-content">
    {{>mensagem}}
    {{>error_msg}}
    <div class="overview">
      <div class="title">
        <span class="text">Chamados</span>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-8 col-lg-8">
          <input type="search" class="form-control " id="buscaChamado" name="buscaChamado" placeholder="Busca....">
        </div>
        <div class="col-md-4 col-lg-4 mt-2 mt-md-0">
          <form id="form-cadastrar" action="/chamados/cadastro?_method=GET" method="GET">
            <button type="submit" id="buttonAddUser" class="btn btn-secondary btn-block">Novo Chamado</button>
          </form>
        </div>
      </div>
    </div>
    <table id="tabela" name"tabela" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Data de Abertura</th>
          <th>Código</th>
          <th>Descrição</th>
          <th>Local</th>
        </tr>
      </thead>
      <tbody>
        {{#each chamados}}
        <tr>
          <td>{{dateMongoFormat  createdAt 'YYYY-MM-DD'}}</td>
          <td>{{id}}</td>
          <td>{{descricao}}</td>
          <td>{{#each local}}
            {{nome}}
            {{/each}}
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    <div id="pagination"></div>
  </div>
</section>