{{>menu}}
<section class="layout">
  <div class="top">
    <i class="uil uil-bars sidebar-toggle"></i>
    <div hidden class="search-box">
      <i class="uil uil-search"></i>
      <input type="text" placeholder="Search Here..." />
    </div>
    <img hidden src="images/user.png" alt="" />
  </div>
  <div class="dash-content">
    {{>mensagem}}
    {{>error_msg}}
    <div class="overview">
      <div class="title">
        <span class="text">Hardware</span>
      </div>
    </div>
    <div class="form-group">
      <ul class="tab-list">
        <li class="tab-item" data-tab="tab1">Armazenamento</li>
        <li class=" tab-item" data-tab="tab2">Cooler</li>
        <li class="tab-item" data-tab="tab3">Fonte</li>
        <li class="tab-item" data-tab="tab4">Memória</li>
        <li class="tab-item" data-tab="tab5">Monitor</li>
        <li class="tab-item" data-tab="tab6">Placa de Vídeo</li>
        <li class="tab-item" data-tab="tab7">Placa Mãe</li>
        <li class="tab-item" data-tab="tab8">Processador</li>
        <li class="tab-item" data-tab="tab9">Sistema Operacional</li>
      </ul>
      <div class="form-group tab-content" id="tab1">
        <div class="overview">
          <div class="title">
            <span class="text">Armazenamentos Cadastrados</span>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-8 col-lg-8">
              <input type="search" class="form-control" id="buscaArmazenamento" name="buscaArmazenamento"
                placeholder="Busca....">
            </div>
            <div class="col-md-4 col-lg-4 mt-2 mt-md-0">
              <form id="form-cadastrar" action="/armazenamento/cadastro?_method=GET" method="GET">
                <button type="submit" id="buttonAddLocal" class="btn btn-secondary btn-block">Cadastrar</button>
              </form>
            </div>
          </div>
        </div>
        <table id="tabelaArmazenamento" name"tabelaArmazenamento" class="table table-striped table-bordered table-sm"
          cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Armazenamento</th>
              <th>Editar</th>
              <th>Excluir</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        <div id="paginacao">
          <button id="pagina-anterior"><i class="uil uil-angle-left"></i></button>
          <button id="pagina-proxima"><i class="uil uil-angle-right"></i></button>
        </div>
      </div>
      <div class="form-group tab-content" id="tab2">
        <div class="overview">
          <div class="title">
            <span class="text">Coolers Cadastrados</span>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-8 col-lg-8">
              <input type="search" class="form-control" id="buscaCooler" name="buscaCooler" placeholder="Busca....">
            </div>
            <div class="col-md-4 col-lg-4 mt-2 mt-md-0">
              <form id="form-cadastrar" action="/cooler/cadastro?_method=GET" method="GET">
                <button type="submit" id="buttonAddLocal" class="btn btn-secondary btn-block">Cadastrar</button>
              </form>
            </div>
          </div>
        </div>
        <table id="tabelaCooler" name"tabelaCooler" class="table table-striped table-bordered table-sm" cellspacing="0"
          width="100%">
          <thead>
            <tr>
              <th>Cooler</th>
              <th>Editar</th>
              <th>Excluir</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        <div id="paginacao">
          <button id="pagina-anterior"><i class="uil uil-angle-left"></i></button>
          <button id="pagina-proxima"><i class="uil uil-angle-right"></i></button>
        </div>
      </div>
      <div class="form-group tab-content" id="tab3">
        <div class="overview">
          <div class="title">
            <span class="text">Fontes Cadastrados</span>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-8 col-lg-8">
              <input type="search" class="form-control" id="buscaFonte" name="buscaFonte" placeholder="Busca....">
            </div>
            <div class="col-md-4 col-lg-4 mt-2 mt-md-0">
              <form id="form-cadastrar" action="/fonte/cadastro?_method=GET" method="GET">
                <button type="submit" id="buttonAddLocal" class="btn btn-secondary btn-block">Cadastrar</button>
              </form>
            </div>
          </div>
        </div>
        <table id="tabelaFonte" name"tabelaFonte" class="table table-striped table-bordered table-sm" cellspacing="0"
          width="100%">
          <thead>
            <tr>
              <th>Fontes</th>
              <th>Editar</th>
              <th>Excluir</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        <div id="paginacao">
          <button id="pagina-anterior"><i class="uil uil-angle-left"></i></button>
          <button id="pagina-proxima"><i class="uil uil-angle-right"></i></button>
        </div>
      </div>
      <div class="form-group tab-content" id="tab4">
        <div class="overview">
          <div class="title">
            <span class="text">Memórias Cadastradas</span>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-8 col-lg-8">
              <input type="search" class="form-control" id="buscaMemoria" name="buscaMemoria" placeholder="Busca....">
            </div>
            <div class="col-md-4 col-lg-4 mt-2 mt-md-0">
              <form id="form-cadastrar" action="/memoriaRam/cadastro?_method=GET" method="GET">
                <button type="submit" id="buttonAddLocal" class="btn btn-secondary btn-block">Cadastrar</button>
              </form>
            </div>
          </div>
        </div>

        <table id="tabelaMemoria" name"tabelaMemoria" class="table table-striped table-bordered table-sm"
          cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Memória</th>
              <th>Editar</th>
              <th>Excluir</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        <div id="paginacao">
          <button id="pagina-anterior"><i class="uil uil-angle-left"></i></button>
          <button id="pagina-proxima"><i class="uil uil-angle-right"></i></button>
        </div>
      </div>
      <div class="form-group tab-content" id="tab5">
        <div class="overview">
          <div class="title">
            <span class="text">Monitores Cadastradas</span>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-8 col-lg-8">
              <input type="search" class="form-control" id="buscaMonitor" name="buscaMonitor" placeholder="Busca....">
            </div>
            <div class="col-md-4 col-lg-4 mt-2 mt-md-0">
              <form id="form-cadastrar" action="/monitor/cadastro?_method=GET" method="GET">
                <button type="submit" id="buttonAddLocal" class="btn btn-secondary btn-block">Cadastrar</button>
              </form>
            </div>
          </div>
        </div>

        <table id="tabelaMonitor" name"tabelaMonitor" class="table table-striped table-bordered table-sm"
          cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Monitor</th>
              <th>Editar</th>
              <th>Excluir</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        <div id="paginacao">
          <button id="pagina-anterior"><i class="uil uil-angle-left"></i></button>
          <button id="pagina-proxima"><i class="uil uil-angle-right"></i></button>
        </div>
      </div>
      <div class="form-group tab-content" id="tab6">
        <div class="overview">
          <div class="title">
            <span class="text">Placas de Vídeo Cadastradass</span>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-8 col-lg-8">
              <input type="search" class="form-control" id="buscaPlacaVideo" name="buscaPlacaVideo"
                placeholder="Busca....">
            </div>
            <div class="col-md-4 col-lg-4 mt-2 mt-md-0">
              <form id="form-cadastrar" action="/placaVideo/cadastro?_method=GET" method="GET">
                <button type="submit" id="buttonAddLocal" class="btn btn-secondary btn-block">Cadastrar</button>
              </form>
            </div>
          </div>
        </div>

        <table id="tabelaPlacaVideo" name"tabelaPlacaVideo" class="table table-striped table-bordered table-sm"
          cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Placas</th>
              <th>Editar</th>
              <th>Excluir</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        <div id="paginacao">
          <button id="pagina-anterior"><i class="uil uil-angle-left"></i></button>
          <button id="pagina-proxima"><i class="uil uil-angle-right"></i></button>
        </div>
      </div>
      <div class="form-group tab-content" id="tab7">
        <div class="overview">
          <div class="title">
            <span class="text"> Placas Mães Cadastradas</span>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-8 col-lg-8">
              <input type="search" class="form-control" id="buscaPlacaMae" name="buscaPlacaMae" placeholder="Busca....">
            </div>
            <div class="col-md-4 col-lg-4 mt-2 mt-md-0">
              <form id="form-cadastrar" action="/placaMae/cadastro?_method=GET" method="GET">
                <button type="submit" id="buttonAddLocal" class="btn btn-secondary btn-block">Cadastrar</button>
              </form>
            </div>
          </div>
        </div>

        <table id="tabelaPlacaMae" name"tabelaPlacaMae" class="table table-striped table-bordered table-sm"
          cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Placa</th>
              <th>Editar</th>
              <th>Excluir</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        <div id="paginacao">
          <button id="pagina-anterior"><i class="uil uil-angle-left"></i></button>
          <button id="pagina-proxima"><i class="uil uil-angle-right"></i></button>
        </div>
      </div>
      <div class="form-group tab-content" id="tab8">
        <div class="overview">
          <div class="title">
            <span class="text">Processadores Cadastrados</span>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-8 col-lg-8">
              <input type="search" class="form-control" id="buscaProcessador" name="buscaProcessador"
                placeholder="Busca....">
            </div>
            <div class="col-md-4 col-lg-4 mt-2 mt-md-0">
              <form id="form-cadastrar" action="/processador/cadastro?_method=GET" method="GET">
                <button type="submit" id="buttonAddLocal" class="btn btn-secondary btn-block">Cadastrar</button>
              </form>
            </div>
          </div>
        </div>

        <table id="tabelaProcessador" name"tabelaProcessador" class="table table-striped table-bordered table-sm"
          cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Processador</th>
              <th>Editar</th>
              <th>Excluir</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        <div id="paginacao">
          <button id="pagina-anterior"><i class="uil uil-angle-left"></i></button>
          <button id="pagina-proxima"><i class="uil uil-angle-right"></i></button>
        </div>
      </div>
      <div class="form-group tab-content" id="tab9">
        <div class="overview">
          <div class="title">
            <span class="text">Sistemas Operacionais Cadastrados</span>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-8 col-lg-8">
              <input type="search" class="form-control" id="buscaSo" name="buscaSo" placeholder="Busca....">
            </div>
            <div class="col-md-4 col-lg-4 mt-2 mt-md-0">
              <form id="form-cadastrar" action="/so/cadastro?_method=GET" method="GET">
                <button type="submit" id="buttonSo" class="btn btn-secondary btn-block">Cadastrar</button>
              </form>
            </div>
          </div>
        </div>

        <table id="tabelaSo" name"tabelaSo" class="table table-striped table-bordered table-sm" cellspacing="0"
          width="100%">
          <thead>
            <tr>
              <th>Sistema Operacional</th>
              <th>Editar</th>
              <th>Excluir</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        <div id="paginacao">
          <button id="pagina-anterior"><i class="uil uil-angle-left"></i></button>
          <button id="pagina-proxima"><i class="uil uil-angle-right"></i></button>
        </div>
      </div>
    </div>
</section>