<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/css/layout.css" />
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css" />
</head>

<body>
  {{>menu}}
  {{>cadastroUsuario}}
  {{!-- {{>dashboard}}//dinamicamente --}}
  <script src="/controllers/layout.js"></script>
</body>

</html>