<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SIGA</title>
  <link rel="stylesheet" href="/css/login.css" />
</head>

<body id="body">
  <div class="wrapper">
    <div class="title">SIGA</div>
    <form class="needs-validation" action="/login" method="POST">
      {{#if message}}
      <span class="mensagemValidacao" id="mensagemValidacao "> {{message}}</span>
      {{/if}}
      <div class="field">
        <input type="text" id="validationCustom01" name="email" required>
        <label for="validationCustom03">Email</label>
        <div class="invalid-feedback">
          Por favor, informe o email.
        </div>
      </div>
      <div class="field">
        <input type="password" name="senha" id="validationCustom02" required>
        <label>Senha</label>
        <div class="invalid-feedback">
          Por favor, informe a senha.
        </div>
      </div>
      <div class="field">
        <input type="submit" id="login" name="login" value="Login" />
      </div>
    </form>
  </div>
</body>

</html>