<section class="layout">
  <div class="top">
    <i class="uil uil-bars sidebar-toggle"></i>
    <div hidden class="search-box">
      <i class="uil uil-search"></i>
      <input type="text" placeholder="Search Here..." />
    </div>
    <img hidden src="images/user.png" alt="" />
  </div>
  <div class="dash-content">
    <div class="overview">
      <div class="title">
        <i class="uil uil-dashboard"></i>
        <span class="text">Dashboard</span>
      </div>
      <div class="boxes">
        <div class="box box1">
          <i class="uil uil-heart-break"></i>
          <span class="text">Equipamentos Desativados</span>
          <span class="number">{{ totEquipamentosInativos}}</span>
        </div>
        <div class="box box2">
          <i class="uil uil-desktop"></i>
          <span class="text">Ativos</span>
          <span class="number">{{ totEquipamentos}}</span>
        </div>
        <div class="box box3">
          <i class="uil uil-clipboard-notes"></i>
          <span class="text">Chamados</span>
          <span class="number">{{ totChamados}}</span>
        </div>
      </div>
      <div class="activity">
        <div class="title">
          <i class="uil uil-chart-pie"></i>
          <span class="text">Equipamentos X Local</span>
        </div>
        <div class="canva">
          <canvas id="myChart"></canvas>
        </div>
      </div>
</section>