<nav>
  <div class="logo-name">
    <div class="logo-image">
      <img src="/images/logo.png" alt="" />
    </div>
    <span class="logo_name">Siga</span>
  </div>
  <div class="menu-items">
    <ul class="nav-links">
      <li>
        <a href="/">
          <i class="uil uil-estate"></i>
          <span class="link-name">Dashboard</span>
        </a>
      </li>
      <li class="user">
        <a href="/usuario">
          <i class="uil uil-users-alt"></i>
          <span class="link-name">Usuários</span>
        </a>
      </li>
      <li class="subMenu">
        <a href="/usuario/cadastro">
          <i class="uil uil-user-plus"></i>
          <span class="link-name">Cadastro</span>
        </a>
      </li>
      <li>
        <a href="/local">
          <i class="uil uil-location-pin-alt"></i>
          <span class="link-name">Locais</span>
        </a>
      </li>
      <li class="subMenu">
        <a href="/local/cadastro">
          <i class="uil uil-plus-circle"></i>
          <span class="link-name">Novo Local</span>
        </a>
      </li>
      <li>
        <a href="/hardware">
          <i class="uil uil-desktop"></i>
          <span class="link-name">Hardware</span>
        </a>
      </li>
      <li>
        <a href="/chamados">
          <i class="uil uil-clipboard-notes"></i>
          <span class="link-name">Chamados</span>
        </a>
      </li>
      <li>
        <a href="/ativos">
          <i class="uil uil-list-ul"></i>
          <span class="link-name">Ativos</span>
        </a>
      </li>
      <li hidden>
        <a href="/configuracoes">
          <i class="uil uil-setting"></i>
          <span class="link-name">Configurações</span>
        </a>
      </li>
    </ul>
    <ul class="logout-mod">
      <li>
        <a href="/login">
          <i class="uil uil-signout"></i>
          <span class="link-name">Sair</span>
        </a>
      </li>
      <li class="mode">
        <a href="#">
          <i class="uil uil-moon"></i>
          <span class="link-name">Dark Mod</span>
        </a>
        <div class="mode-toggle">
          <span class="switch"></span>
        </div>
      </li>
    </ul>
  </div>
</nav>